body {
	width: 100%;
	height: 100%;
	background-color: #E9E9E9;
}

header {
	height: 100px;
	width: 100%;
	font-family: 'Georgia', Times, serif;
	font-size: 12px;
	text-align: center;
	letter-spacing: 2px;
	border-bottom: solid 2px #cccccc;
	background-color: white;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}

h1 {
	font-weight: lighter;
	font-size: 25px;
}

#myname {
	height: 70px;
	width: 240px;
	background-color: #3FAAA5;
	color: white;
	padding-top: 10px; 
	margin-bottom: -10px;
	position: relative;
	top: 20px;
	left: 60px;
}

nav {
	float: right;
	padding-right: 80px;
	color: #cccccc;
}

a {
	text-decoration: none;
	color: #cccccc;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#aboutme {
	width: 650px;
	height: 100;
	background-color: white;
	float: left;
	margin: 130px 20px 20px 55px;
	border: solid 1px #808080;


}

.blue {
	color: #3FAAA5;
	padding: 5px 30px;
}

#paragraph {
	height: 100%;
	width: 560px;
	padding: 5px 0px;
	margin-left: 30px;
	text-align: wrap;
	float: left;
	line-height: 15px;
	border-top: solid 5px grey;
	letter-spacing: 2px;
	font-size: 12px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#placeHolderImg {
	height: 180px;
	float: left;
	border-right: solid 20px white;

}

#contactme {
	width: 270px;
	height: 200px;
	border: solid 1px grey;
	float: left;
	background-color: white;
	position: relative;
	left: 750px;
	top: -415px;
}
 #pagecontent {
 	float: left;
 	height: 100%;
 	width: 960px;
	
 }

#small {
	font-size: 20px;
	margin-top: 25px;
	margin-left: 18px;
}

.smimg {
	height: 70px;
	margin: 3px;
}

#contactimg{
	margin-left: 20px;
	padding-top: 15px;
	
}

#bottom {
	border-bottom: solid 3px grey;
	margin: 10px;
}

#footer {
	clear: both;
	color: #E9E9E9;
	background-color: #666666;
	border-top: solid 10px #3FAAA5;
	height: 40px;
	width: 100%;
	letter-spacing: 1px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 8px;
	text-align: center;
	padding-top: 20px;
	margin-left: -10px;
	margin-right: -10px;
}







